<div class = "container">

  <%= render partial: "shared/admin_nav" %>

  <div class = "row">
    <div class = "col-4">
      <%= form_for [:admin,@style] do |f| %>
        <div class = "form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
          <%= f.collection_select :type_id, @types, :id , :id_with_name, option = {prompt: "選個款式吧"}, {class: "form-control"} %>
          <br>
        <%= f.submit "確認", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <% @styles.first.attributes.each do |key,value|  %>
          <th scope="col"><%= key %></th>
        <% end %>
          <th scope="col">edit</th> 
          <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <% @styles.each do |style| %>
        <tr>
          <% style.attributes.each do |key,value|  %>
            <td><%= link_to value, admin_style_products_path(style), class: "admin-a"  %></td>
          <% end %>
          <td><%= link_to "編輯", edit_admin_style_path(style), class: "admin-a"  %></td>
          <td><%= link_to "刪除", admin_style_path(style), class: "admin-a" , method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>