<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>

    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
    <div>
      <button class="<%= provider.to_s.remove('_oauth2') %>-btn provider-btn btn shadow-box-light">
        <i class="fa fa-<%= provider.to_s.remove('_oauth2') %>"></i>
          使用<%= provider.to_s.remove('_oauth2').camelize%> 繼續 
      </btton>      
    </div>
    <% end %>
  <% end -%>
<% end -%>
