<div class = "container">

  <%= render partial: "shared/admin_nav" %>
  <h2>編輯項目</h2>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% @types.first.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>

        </tr>
      </thead>
      <tbody>
       
          <tr>
            <% @type.attributes.each do |key,value|  %>
              <td><%= value %></td>
            <% end %>
   
          </tr>
     
      </tbody>
    </table>

    <div class = "row">
      <div class = "col-4">
        <h3>創造新type</h3>
        <br>
        <%= form_for [:admin,@type] do |f| %>
          <div class = "form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
            <%= f.collection_select :category_id, @categories, :id , :id_with_name, option = {prompt: "選個分類"}, {class: "form-control"} %>
            <br>
          <%= f.submit "確認", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

</div>