<div class = "container">

  <%= render partial: "shared/admin_nav" %>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% if @types.count > 0 %>
            <% @types.first.attributes.each do |key,value|  %>
              <th scope="col"><%= key %></th>
            <% end %>
            <th scope="col">edit</th> 
            <th scope="col">delete</th>
            <% else %>
              <h1>佔無types</h1>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @types.each do |type| %>
          <tr>
            <% type.attributes.each do |key,value|  %>
              <td><%= link_to value , admin_type_styles_path(type) %></td>
            <% end %>
            <td><%= link_to "編輯", edit_admin_type_path(type) %></td>
            <td><%= link_to "刪除", admin_type_path(type), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class = "row">
    <div class = "col-4">
      <h3>創造新type</h3>
      <%= form_for [:admin,@type] do |f| %>
        <div class = "form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :category_id, "type_id" %>
          <%= f.text_field :category_id, class: "form-control" %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
    <div class = "col-8">
      <h3>可用的category id</h3>
      <br>
      <div class = "row">
      <% @categories.each do |category| %>
        <div class = "col-2">
          <span class="badge badge-pill badge-success my-badge">
            <%= category.name %>
            <%= category.id %>
          </span>
        </div>
      <% end %>
      </div>
    </div>

  </div>
  <br>

</div>