<section id="home-page">
  <div class="home-bg">
    <div class="home-page-overlay"></div>  
      <div class="container">
        <div class="match-choice-panel">
        <h2 id="question1">今天想幫什麼衣服配色呢？</h2>
        <div id="gender-choice">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active btn-warning">
              <input value="2" type="radio" name="options" id="option2" autocomplete="off" checked="checked"> 女
            </label>
            <label class="btn btn-secondary btn-warning">
              <input value="1" type="radio" name="options" id="option1" autocomplete="off"> 男
            </label>
          </div>
        </div>
        <div id="type-choice-panel">
          <span id="up-type-choice" class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><%= image_tag("cloth.png") %></span>
            </div>
            <%= grouped_collection_select(:type, :type_id,  @categories_init[0], :types, :name, :id, :name, { selected: 1 }, {class: "custom-select"}) %>
          </span>
          <span id="down-type-choice" class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><%= image_tag("pants.png") %></span>
            </div>
            <%= grouped_collection_select(:type, :type_id,  @categories_init[1], :types, :name, :id, :name, {}, {class: "custom-select"}) %>
          </span>
          
        </div>
        <h2 id="question2">選擇想要的顏色吧！</h2>
        <div id="hue-choice-panel">
          <span id="up-hue-choice" class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><%= image_tag("cloth.png") %></span>
            </div>
            <%= collection_select(:hue_level, :id, HueLevel.all , :id, :name,  { selected: 9 }, {class: "custom-select"}) %>
          </span>
          <span id="down-hue-choice" class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><%= image_tag("pants.png") %></span>
            </div>
            <%= collection_select(:hue_level, :id, HueLevel.all , :id, :name, {}, {class: "custom-select"}) %>
          </span>
        </div>
      <div id="kroma-index-match">
        <%= render partial: "shared/match_btn" %>
      </div>
  </div>
      <!-- <div class="container">
        <div class="home-page-panel">
          <h2>一種配色，等一個人</h2>
          <h3>Let color do the magic.</h3>
          <div>
            <%= link_to "#match", data: { turbolinks: false } do %> 
              <button class="btn" herf="#match">馬上試用</button>
            <% end %>
            <%= link_to new_user_registration_path, remote: true do %>
              <button class="btn">註冊會員</button>
            <% end %>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section id="promote">
  <div class="container">
    <div class="promote-panel">
      <div class="promote-item">
        <div class="promote-icon">
          <%= fa_icon 'thumbs-o-up' %>
        </div>
        <div class="promote-text">
          <h6>全台第一家衣服比價網！</h6>
          <p>擁有6000筆即時資訊</p>
        </div>
      </div>
      <div class="promote-item" style="justify-self: center">
        <div class="promote-icon">
          <%= fa_icon 'check-circle-o', style: "font-size: 38px;" %>
        </div>
        <div class="promote-text">
          <h6>Khroma專業配色，您安心！</h6>
          <p>依照您的喜好，給您最時尚的推薦</p>
        </div>
      </div>
      <div class="promote-item" style="justify-self: end">
        <div class="promote-icon"> 
          <%= fa_icon 'heart-o' %>
        </div>
        <div class="promote-text">
          <h6>個人化追蹤系統</h6>
          <p>幫您收藏喜愛商品，購物沒壓力</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id='match'>
  
</section>
<section id="match-result">
  <div class="container">
    <!-- match 結果 -->
    <div id="match-result-panel">
    </div>
  </div>
</section>
