<div class="sign-overlay">
  <div class="sign-panel">
    <div class="card">
      <div class="card-header">
        <h6>密碼重設</h6>
        <div class="close-btn pull-right">&#10005;</div>
      </div>
      <div class="card-body">
        <%= render "devise/shared/links" %>
        <p>或</p>
        <% if flash[:alert] %>
          <span style="color: red" ><%= flash[:alert] %></span>
        <% end %> 

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
    
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "郵箱",class: "form-control" %>
          </div>
          <br>
          

          <div class="actions">
            <%= f.submit "寄送重設密碼郵件", class: "btn btn-primary sign-btn" %>
          </div>
    
        <% end %>

      </div>
    </div>
  </div>
</div>


