<% matches.each do |match| %>
  <div class="match-result-item">

    <div class="match-principle-title shadow-box">
      <div class="result-count">
        <div class="hex-lbl" style="background: <%= match[1][3] %>; opacity: 0.8;"><%= match[1][0].split(' ')[1] %></div>
        <div class="hex-lbl second-hex-lbl" style="background: <%= match[1][4] %>; opacity: 0.8;"><%= match[1][1].split(' ')[1] %></div>
        <div class="count-lbl">上身: <%= match[2][0].count %> 件 &nbsp;&nbsp; 下身: <%= match[2][1].count %> 件</div>
      </div>
      <div class="match-principle-lbl">
        <div>配色法則: <%= match[0][0] %>
          <div class="match-principle-panel shadow-box">
            <%= image_tag match[0][1] unless match[0][1] == '' %>
          </div>
        </div> 
      </div>
    </div>
    <div class="styles-panel up-products-panel">
      <% puts match[2][0].count %>
      <% if match[2][0].count > 4 %>
        <button class="match-left" disabled><i class="fa fa-caret-left"></i></button>
      <% end %>  
      <% match[2][0].each_with_index do |product, i| %>
        <%= render partial: "shared/product_match", locals: {product: product, i: i} %>
      <% end %>
      <% if match[2][0].count > 4 %>
        <button class="match-right"><i class="fa fa-caret-right"></i></button>
      <% end %> 
    </div> 
    <div class="styles-panel down-products-panel" style="margin-top: 20px;">
      <% if match[2][1].count > 4 %>
        <button class="match-left" disabled><i class="fa fa-caret-left"></i></button>
      <% end %>  
      <% match[2][1].each_with_index do |product, i| %>
          <%= render partial: "shared/product_match", locals: {product: product, i: i} %>
      <% end %>
      <% if match[2][1].count > 4 %>
        <button class="match-right"><i class="fa fa-caret-right"></i></button>
      <% end %> 
    </div>  
<!--     <% #unless match[1][2].nil? %>
      <div>對此配色法則，您還可以選擇 <%= #match[1][2] %> 作為其他服飾配件顏色來搭配</div>  
    <% #end %> -->
  </div>
<% end %>

<!-- 
matches[i][0][0]: 配色法則名稱
matches[i][0][1]: 配色法則圖片
matches[i][1][0]: 上半身的顏色
matches[i][1][1]: 下半身的顏色
matches[i][1][2]: 額外可選的顏色
matches[i][1][3]: 上半身顏色的hex
matches[i][1][4]: 下半身顏色的hex
matches[i][1][5]: 額外可選顏色的hex
matches[i][2][0]: 上半身的衣服
matches[i][2][1]: 下半身的衣服
-->