<% if categories.first.name == "上衣類" %>
  <span id="up-type-choice" class="input-group">
    <div class="input-group-prepend">
       <span class="input-group-text"><%= image_tag("cloth.png") %></span>
    </div>
    <%= grouped_collection_select(:type, :type_id,  categories, :types, :name, :id, :name, { prompt: "請選擇上衣款式", required: true }, {class: "custom-select"}) %>
  </span>
  <span id="up-hue-choice">
    <div class="mm-dropdown">
      <div class="textfirst">請選擇上衣顏色<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" style="width:10px; height: 10px" class="down" /></div>
      <ul>
        <% hue_levels.each do |hue_level| %>
          <li class="input-option" data-value="<%= hue_level.id %>">
            <%= image_tag("color.png", width: 40, height: 20, style: "background: #{hue_level.hex}" ) %>
            &nbsp;&nbsp;<%= hue_level.name.split(' ')[1] %>
          </li>
        <% end %>
      </ul>
      <input type="hidden" id="hue_level_id" class="option" name="namesubmit" value="" />
    </div>
  </span>
<% elsif categories.first.name == "下身類" %>
  <span id="down-type-choice" class="input-group">
  <div class="input-group-prepend">
       <span class="input-group-text"><%= image_tag("pants.png") %></span>
    </div>
    <%= grouped_collection_select(:type, :type_id,  categories, :types, :name, :id, :name, { prompt: "請選擇下身款式",required: true}, {class: "custom-select"}) %>
  </span>
  <span id="down-hue-choice" class="input-group">
    <div class="mm-dropdown">
      <div class="textfirst">請選擇下身顏色<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" style="width:10px; height: 10px" class="down" /></div>
      <ul>
        <% hue_levels.each do |hue_level| %>
          <li class="input-option" data-value="<%= hue_level.id %>">
            <%= image_tag("color.png", width: 40, height: 20, style: "background: #{hue_level.hex}" ) %>
            &nbsp;&nbsp;<%= hue_level.name.split(' ')[1] %>
          </li>
        <% end %>
      </ul>
      <input type="hidden" id="hue_level_id" class="option" name="namesubmit" value="" />
    </div>
  </span>
<% end %>