<div class="style-item">
  <div class="product-img">
    <%= link_to product_path(style.products.first.id) do %>
      <%= image_tag(style.products.first.image) %>
    <% end %>
  </div>
  <div class="product-info">
    <div class="product-color-panel">
      <% style.colors.each do |color| %>
        <%= link_to change_color_style_path(color.id), remote: true, class: "color-unlocked" do %>
          <div id="<%= color.id %>" class="product-color" style="background-color: <%= color.hex %>"></div>
        <% end %>
      <% end %>
    </div>
    <div class="product-title">
      <%= style.name %>
    </div>
    <div class="product-brand-price-row">
      <div class="product-brand">
          <%= image_tag("#{style.products.first.brand}-logo.png", class: "product-brand-img") %>
      </div>
      <div class="product-price">
        $<%= style.products.first.price.round %>
      </div>
    </div> 
    <div class="product-cart-link-row">
      <% if current_user %>
        <% if current_user.carts %>
        <div class="product-cart">
          <%= render partial: "shared/cart_button", locals: {product: style.products.first} %>
        </div>
        <% end %>  
      <% end %>
      <div class="product-link">
        <a href="<%= style.products.first.link %>" target="_blank">
          <button class="btn btn-sm btn-warning">去購買</button>
        </a>
      </div>
    </div>
  </div>
</div>
<hr />