<% if i < 4 %>
  <% show_item = "show-item" %>
<% else %>
  <% show_item = "" %>
<% end %> 
<div class="style-item shadow-box-light <%= show_item %>">
  <div class="product-img">
    <%= link_to product_path(product.id) do %>
      <%= image_tag(product.image) %>
    <% end %>
  </div>
  <div class="product-info">
    <div class="product-title">
      <%= product.name %>
    </div>
    <div class="product-brand-price-row">
      <div class="product-brand">
          <%= image_tag("#{product.brand}-logo.png", class: "product-brand-img") %>
      </div>
      <div class="product-price">
        $<%= product.price.round %>
      </div>
    </div> 
    <div class="product-link">
      <% if current_user.carts %>
        <% if current_user.cart_products.include?(product) %>
          <%= link_to "移出配裝車", cart_path(product), method: :delete %>
        <% else %>
          <%= link_to "加入配裝車", carts_path(product_id: product), method: :post %>
        <% end %>
      <% end %>
      <a href="<%= product.link %>" target="_blank">
        <button class="btn btn-sm btn-warning">去購買</button>
      </a>
    </div>
  </div>
</div>