<div class="container">
  <div id="order-selection" class="clearfix">
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-outline-secondary">
        <%= link_to "價錢由低到高" , price_order_asc_type_styles_path(@type)%>
      </button>
      <button class="btn btn-sm btn-primary">
        <%= link_to "價錢由高到低" , price_order_desc_type_styles_path(@type) %>
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        <%= link_to "依照品牌" , brand_order_type_styles_path(@type) %>
      </button>
    </div>
  </div>
  <div class="styles-panel">
    <%= render partial: "shared/product_sm", collection: @styles, as: :style %>
  </div>
  <div id="styles-spinner" class="text-center">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div id="paginate-panel">
    <%= render partial: "shared/paginate", locals: { styles: @styles} %>
  </div>
</div>