<div class = "container">

  <%= render partial: "shared/admin_nav" %>
  <h2>編輯項目</h2>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% @categories.first.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>

        </tr>
      </thead>
      <tbody>
       
          <tr>
            <% @category.attributes.each do |key,value|  %>
              <td><%= value %></td>
            <% end %>

          </tr>
     
      </tbody>
    </table>

  <h2>編輯區</h2>
  <%= form_for [:admin,@category] do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.label :gender_id, "Gender_id" %>
    <%= f.text_field :gender_id %>
    <%= f.submit %>
  <% end %>

</div>
