<% @categories.each do |category| %>
  <li>
    <%= link_to category.name , admin_types_path  %>
    
    <%= link_to "編輯", edit_admin_category_path(category) %>
    <%= link_to "刪除", admin_category_path(category), method: :delete %>
  </li>
<% end %>

<h3>可用的gender id</h3>
<% @genders.each do |gender| %>
  <li>
    <%= gender.name %>
    <%= gender.id %>
  </li>
<% end %>

<h3>創造新categry</h3>
<%= form_for [:admin,@category] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :gender_id, "gender_id" %>
  <%= f.text_field :gender_id %>
  <%= f.submit %>
<% end %>