<div class = "container">

  <%= render partial: "shared/admin_nav" %>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% if @categories.count >0 %>
            <% @categories.first.attributes.each do |key,value|  %>
              <th scope="col"><%= key %></th>
            <% end %>
            <th scope="col">edit</th> 
            <th scope="col">delete</th>
            <% else %>
              <h1>佔無categories</h1>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <% category.attributes.each do |key,value|  %>
              <td><%= link_to value, admin_category_types_path(category) %></td>
            <% end %>
            <td><%= link_to "編輯", edit_admin_category_path(category) %></td>
            <td><%= link_to "刪除", admin_category_path(category), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <h3>可用的gender id</h3>
  <% @genders.each do |gender| %>
    <li>
      <%= gender.name %>
      <%= gender.id %>
    </li>
  <% end %>

  <h3>創造新categry</h3>
  <%= form_for [:admin,@category] do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.label :gender_id, "gender_id" %>
    <%= f.text_field :gender_id %>
    <%= f.submit %>
  <% end %>

    <%= render partial: "shared/admin_table", locals: {objs: @categories} %>

</div>