<div class = "container">

  <%= render partial: "shared/admin_nav" %>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% if @categories.count >0 %>
            <% @categories.first.attributes.each do |key,value|  %>
              <th scope="col"><%= key %></th>
            <% end %>
            <th scope="col">edit</th> 
            <th scope="col">delete</th>
          <% else %>
              <h1>佔無categories</h1>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <% category.attributes.each do |key,value|  %>
              <td><%= link_to value, admin_category_types_path(category), class: "admin-a"  %></td>
            <% end %>
            <td><%= link_to "編輯", edit_admin_category_path(category), class: "admin-a"  %></td>
            <td><%= link_to "刪除", admin_category_path(category), class: "admin-a" , method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class = "row">
      <div class = "col-4">
        <h3>創造新category</h3>
        <br>
        <%= form_for [:admin,@category] do |f| %>
          <div class = "form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
            <%= f.collection_select :gender_id, @genders, :id , :id_with_name, option = {prompt: "選個性別吧"}, {class: "form-control"} %>
            <br>
          <%= f.submit "確認", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <br>

</div>