<div class = "container">

  <%= render partial: "shared/admin_nav" %>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% if @categories.count >0 %>
            <% @categories.first.attributes.each do |key,value|  %>
              <th scope="col"><%= key %></th>
            <% end %>
            <th scope="col">edit</th> 
            <th scope="col">delete</th>
          <% else %>
              <h1>佔無categories</h1>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <% category.attributes.each do |key,value|  %>
              <td><%= link_to value, admin_category_types_path(category) %></td>
            <% end %>
            <td><%= link_to "編輯", edit_admin_category_path(category) %></td>
            <td><%= link_to "刪除", admin_category_path(category), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class = "row">
    
    <div class = "col-4 col-offset-2">
      <h3>創造新category</h3>
      <%= form_for [:admin,@category] do |f| %>
        <div class = "form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :gender_id, "type_id" %>
          <%= f.text_field :gender_id, class: "form-control" %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
    <div class = "col-4">
      <h3>可用的gender id</h3>
      <br>
      <div class = "row">
      <% @genders.each do |gender| %>
        <div class = "col-2">
          <span class="badge badge-pill badge-success my-badge">
            <%= gender.name %>
            <%= gender.id %>
          </span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <br>

</div>