<div class = "container">

  <%= render partial: "shared/admin_nav" %>
  <h2>編輯項目</h2>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% @product.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>
          <th scope="col">顏色hex</th>
          <th scope="col">hue level</th>
        </tr>
      </thead>
      <tbody>
       
          <tr>
            <% @product.attributes.each do |key,value|  %>
              <td class = "td-width"><%= show_product_attribute(value) %></td>
            <% end %>
            <td><%= @product.color.hex %> <div class="chip-color" style="background-color: <%= @product.color.hex %>;"></div> </td>
            <td><%= @product.color.hue_level.name %></td>
          </tr>
     
      </tbody>
    </table>

  <h2>編輯區</h2>
  <%= form_for [:admin,@style,@product] do |f| %>
    <div class = "row">
      <div class = "col-3">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
      </div>
      <div class = "col-3">
        <%= f.label :brand, "Brand" %>
        <%= f.text_field :brand %>
      </div>

      <div class = "col-3">
        <%= f.label :price, "Price" %>
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image, "Image" %>
      <%= f.text_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :link, "Link" %>
      <%= f.text_field :link, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :color_chip, "Color chip" %> <div class="btn admin-btn btn-default" id="get-color">取得顏色</div>
      <%= f.text_field :color_chip, class: "form-control" %>
    </div>
    <div id="color-info-panel">
      <%= render partial: "shared/color_info", locals: {chip_url: @chip_url, chip_colors: @chip_colors, target_index: @target_index, hue_levels: @hue_levels} %>
    </div>
    <br>
    <%= f.submit %>
  <% end %>

</div>