<div class= "container">  
  <%= render partial: "shared/admin_nav" %>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <% if @products.count > 0 %>
          <% @products.first.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>
          <th scope="col">edit</th> 
          <th scope="col">delete</th>
          <% else %>
            <h1>佔無products</h1>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <% product.attributes.each do |key,value|  %>
            <td class = "td-width"><%= value %></td>
          <% end %>
          <td><%= link_to "編輯", edit_admin_style_product_path(@style, product) %></td>
          <td><%= link_to "刪除", admin_style_product_path(@style, product), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>產生產品</h2>
  <%= form_for [:admin,@style,@product] do |f| %>
    <div class = "row">
      <div class = "col-3">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
      </div>
      <div class = "col-3">
        <%= f.label :brand, "Brand" %>
        <%= f.text_field :brand %>
      </div>

      <div class = "col-3">
        <%= f.label :price, "Price" %>
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image, "Image" %>
      <%= f.text_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :link, "Link" %>
      <%= f.text_field :link, class: "form-control" %>
    </div>
    <br>
    <%= f.submit %>
  <% end %>
</div>