<div class = "container">

  <%= render partial: "shared/admin_nav" %>
  <h2>編輯項目</h2>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% @genders.first.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>

        </tr>
      </thead>
      <tbody>
        <tr>
          <% @gender.attributes.each do |key,value|  %>
            <td><%= value %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>編輯區</h3>
    <br>
    <div class = "row">
      <div class = "col-4">
        <%= form_for [:admin,@gender] do |f| %>
          <div class = "form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit "確認", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
