  <div class = "container">
    <%= render partial: "shared/admin_nav" %>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <% @genders.first.attributes.each do |key,value|  %>
            <th scope="col"><%= key %></th>
          <% end %>
            <th scope="col">edit</th> 
            <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        <% @genders.each do |gender| %>
          <tr>
            <% gender.attributes.each do |key,value|  %>
              <td><%= link_to value, admin_gender_categories_path(gender), class: "admin-a" %></td>
            <% end %>
            <td><%= link_to "編輯", edit_admin_gender_path(gender), class: "admin-a"  %></td>
            <td><%= link_to "刪除", admin_gender_path(gender), class: "admin-a" , method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class = "row">
      <div class = "col-4">
        <h3>創造新gender</h3>
        <br>
        <%= form_for [:admin,@gender] do |f| %>
          <div class = "form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit"確認", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
