<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khroma</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="header">
      <nav id="nav" class="shadow-box">
        <div class="container">
          <div id="upper-nav">
            <div id="logo">
              <%= image_tag("hue-ring-500x-thing.png", class: "logo-img") %>
              <%= link_to 'Khroma', root_path %>
            </div>
            <ul id="menu">
              <li class="gender-btn" value="1">Men</li>
              <li class="gender-btn" value="2">Women</li>
            </ul>
            <% if current_user %>
              <ul id="menu-user">
                <% if current_user.admin? %> 
                  <li><%= link_to '後台', admin_root_path %></li>
                <% end %>
                <li id="user-center-lbl">會員中心
                  <div id="menu-user-panel" class="shadow-box">
                    <ul>
                      <li><%= link_to '我的收藏', user_carts_path(user_id: current_user.id) %></li>
                      <li><%= link_to '修改資料', edit_user_path(current_user), remote: true %></li>
                      <li><%= link_to '修改密碼', edit_user_registration_path, remote: true %></li>
                      <hr />
                      <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </div>
                </li>
                <li></li>
              </ul>             
            <% else %>
              <div id="sign-menu">
                  <%= link_to '登入', new_user_session_path, remote: true, class: "sign-in-btn" %>
                  <%= link_to '註冊', new_user_registration_path, remote: true, class: "sign-up-btn"  %>
              </div>
            <% end %>
          </div> 
        </div>
      </nav>
      <div id="lower-nav" class="shadow-box">
        <div class="container">
        </div>
      </div>
    </header>
    <div id="top" class="alert-row">
      <% if flash[:notice] %>
        <div class="notice alert alert-success" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% elsif flash[:alert]%> 
        <div class="alert alert-danger" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:alert] %>
            </div>
          </div>
        </div>               
      <% end %>
    </div>
    <div id="sign-overlay"></div>
    <div id="spinner-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <p>Copyright © 2018 LET IT CODE.</p>
    </footer>
    <div id="go-top-btn" class="shadow-box">
      <%= link_to "#header", data: { turbolinks: false }  do %>
        <div style="height: 20px"><i class="fa fa-angle-up"></i></div>
        <p>TOP</p>
      <% end %>
    </div>
  </body>
</html>
